@{
    ViewBag.Title = "Inicio";
}

<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 120px);">
    <img src="@Url.Content("~/Content/img/SaludPlus.png")"
         class="img-fluid"
         style="max-width: 60%; height: auto;"
         alt="SaludPlus">
</div>